/* --------------------------------- colors --------------------------------- */
$clr-neutral-900: hsl(0, 0%, 1%);
$clr-neutral-100: hsl(0, 0%, 100%);

$clr-blue: hsl(252, 66%, 62%);
$clr-yellow: hsl(28, 89%, 67%);
$clr-pink: hsl(0, 78%, 79%);
$clr-orange: hsl(7, 77%, 66%);
$clr-cyan: hsl(172, 46%, 57%);
$clr-purple: hsl(314, 45%, 23%);
$clr-brown: hsl(30, 5%, 45%);
$clr-cream: hsl(28, 100%, 97%);
$clr-white: #fff;

/* ------------------------------ Font familes ------------------------------ */
$ff: 'Plus Jakarta Sans', sans-serif;

/* ------------------------------- font sizes ------------------------------- */
$fs-4: 0.875rem; // 14px
$fs-6: 1rem; // 16px
$fs-8: 1.125rem; // 18px
$fs-9: 1.5rem;
$fs-10: 2rem; // 32px
$fs-11: 2.25rem; // 36px
$fs-12: 2.5rem; // 40px
$fs-14: 3rem;
$fs-16: 3.5rem; // 56px

/* ------------------------------ font weights ------------------------------ */
$fw-regular: 400;
$fw-bold: 700;

/* ------------------------------ line heights ------------------------------ */
$lh-8: 28px;
$lh-10: 40px;
$lh-12: 51px;
$lh-14: 70px;

/* -------------------------------- fluid font -------------------------------- */
$fs-title-lg: clamp($fs-11, calc($fs-11 + ((1vw - 0.23rem) * 2.7778)), $fs-14);
