@use '../../sass/abstracts/variables';

.skillCard {
    // background-size: cover;
    border-radius: variables.$fs-6;
    display: flex;
    flex-direction: column;
    color: variables.$clr-neutral-100;

    &__image {
        margin-left: auto;
        max-height: 4rem;
    }
}

.skillCard__text {
    margin-top: auto;
    font-weight: variables.$fw-bold;
    font-size: variables.$fs-9;
}
