@use '../../sass/abstracts/variables';

$total-columns: 12;

@for $column-count from 1 through $total-columns {
    .col-#{$column-count} {
        grid-column: span #{$column-count};
    }
}

.skills_grid {
    display: grid;
    gap: 1.5rem;

    .skillCard {
        padding: 1rem;
    }

    .skillCard:nth-of-type(1) {
        height: 364px;

        > img {
            max-height: 100%;
        }
    }

    .skillCard:nth-of-type(2),
    .skillCard:nth-of-type(3),
    .skillCard:nth-of-type(5),
    .skillCard:nth-of-type(6) {
        height: 182px;
    }

    .skillCard:nth-of-type(4) {
        height: 158px;
    }
}
