@use '../../sass/abstracts/variables';

.carousel {
   margin-top: 4rem;
   width: 100%;
}

.carousel__header {
   font-size: variables.$fs-9;
   font-weight: variables.$fw-bold;
   text-align: center;
   padding-bottom: 2.5rem;
}

.carousel__slider {
    width: 1000px;
    margin: auto;
    border-radius: 10px;
    display: flex;
  }

.carousel__image {
    border-radius: 10px;
    margin-right: 20px;
    width: 100%;
    max-height: 180px;
}

.carousel__arrows{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    img {
      background-color: variables.$clr-neutral-900;
      padding: 30px;
      border-radius: 50%;
      cursor: pointer;
    }
}



