@use '../../sass/abstracts/variables';

.intro {
  display: grid;
  place-items: center;
}

.intro__header {
  font-weight: bold;
  font-size: variables.$fs-11;
  text-align: center;
  padding-top: 20px;
  color: variables.$clr-neutral-900;
}

.intro__text {
  color: variables.$clr-brown;
  font-weight: variables.$fw-regular;
  padding: 15px 30px;
  text-align: center;
}